body {
    font-family: Arial;
    h1 {
        color: rgb(35, 170, 219);
    }
    h2 {
        color: rgb(1, 147, 252);
    }
    p {
        color: rgb(102, 159, 250);
    }
    background-color: blue;
}